.buttonWrapper {
  background-color: red;
  width:90%;
  border: darkgrey;
  border-width: 1px;
}

.taskButton{
  display:block;
  width: 50%;
}

.rcorners {
  border-radius: 10px;
}

.statusOpen{
  color: green;
}

.optionButton{
  margin:0 auto;
  display:block;
  width: 50%;
}


#mainContainer{
  padding-left: 30%;
  margin-top: 20px;
  width:70%;
}


